body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.menu a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(135deg, #1e1b4b, #312e81);
}

.btn {
  background: #38bdf8;
  padding: 10px 20px;
  color: black;
  margin: 10px;
  display: inline-block;
}

.btn-outline {
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
}

section {
  padding: 50px;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
}

.badges span {
  margin: 5px;
  padding: 5px 10px;
  background: #38bdf8;
  color: black;
}
